@using System.Web.Optimization
@model FileSystemViewer.PLMVC.Models.Directory.DirectoryViewModel

@Scripts.Render("~/bundles/jqueryval")
<button type="button" class="btn btn-success modal-button" id="modal-button-folder">Create folder</button>


<div id="modDialog-folder" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" >x</button>
                <h4>Create new folder</h4>
            </div>
            @using (Ajax.BeginForm("CreateFolder", "Directory", FormMethod.Post, new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loading",
                HttpMethod = "POST",
                OnSuccess = "OnSuccess",
                OnFailure = "OnError"
            }))
            {
                <div class="modal-body custom-modal">
                    @Html.AntiForgeryToken()
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(model => model.ParentDirectoryPath)
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $("#modal-button-folder").click(function () {
            $("#modDialog-folder").modal("show");
    });


        function hideFolderDialog() {
            $("#modDialog-folder").modal("hide");
        };

        function OnSuccess(result) {
            if (result.Status == 'Exist') {
                alert("Such folder is already exists");
            } else {
                hideFolderDialog();
                $('.item').unbind();
                $('#explorer-table').html(result);
            }
        };
   
</script>