@model IEnumerable<FileSystemViewer.PLMVC.Models.ExplorerViewModel>

<table class="table" id="explorer-table ">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastAccessTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Type == "Folder")
        {
            <tr class="item folder" id="item-@item.Name">
                <td>
                    <img src="~/Content/images/folder.png" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastAccessTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteDirectory", "Directory", new { path = @ViewBag.LastPath + item.Name + "\\" }, new AjaxOptions { UpdateTargetId = "main_container", OnFailure = "OnError", LoadingElementId = "loading", HttpMethod = "GET", Confirm = "Do you really want to delete this folder?" })
                </td>
            </tr>
        }
        else
        {
            <tr class="item" id="item-@item.Name">
                <td>
                    <img src="~/Content/images/file.png" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastAccessTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteFile", "Directory", new { path = @ViewBag.LastPath + item.Name + "\\" }, new AjaxOptions { UpdateTargetId = "main_container", OnFailure = "OnError", LoadingElementId = "loading", HttpMethod = "GET", Confirm = "Do you really want to delete this file?" })
                </td>
            </tr>
        }
    }

</table>
<script>
    $(document).ready(function () {
        $(".folder").dblclick(function () {
            var path = $(".pathPlace").text();
            path = path.substr(13, path.length);
            var index = this.id.indexOf("-") + 1;
            var newPath = path + this.id.substr(index, this.id.length);
            var url = "/Directory/GetAllDirectory/" + newPath;
            url = encodeURI(url);
            //$('.item').unbind();
            //$('#main_container').load(url);
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    if (result.Status == 'NotAcceptable') {
                        alert("You don't have access to the directory");
                    } else {
                        $('.item').unbind();
                        $('#main_container').html(result);
                    }
                },
                error: OnError
            });
        });

        $("#back-image").click(function () {
            var path = "@ViewBag.LastPath";
            path = path.substr(0, path.length - 2);
            var lastPathIndex = path.lastIndexOf("\\");
            path = path.substr(0, lastPathIndex);
            var url = "/Directory/GetAllDirectory/" + path;
            url = encodeURI(url);
            // $('.item').unbind();
            //$('#main_container').load(url);
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    if (result.Status == 'NotAcceptable') {
                        alert("You don't have access to the directory");
                    } else {
                        $('.item').unbind();
                        $('#main_container').html(result);
                    }
                },
                error: OnError
            });
        });
    });

    $(document).ajaxStart(function () {
        $("#loading").show();
    });

    $(document).ajaxComplete(function () {
        $("#loading").hide();
    });

    function OnError(XMLHttpRequest, textStatus, errorThrown) {
        alert('Oops, something bad happened. We workikg with the problem. Try it again. Description: ' + errorThrown + '.');
    }

</script>
