@model IEnumerable<FileSystemViewer.PLMVC.Models.ExplorerViewModel>

<table class="table" id="explorer-table ">
    <tr>
        <th></th>
        <th class="tableHederitem">
            @Ajax.ActionLink("Name", "GetAllDirectoryByName", "Directory", new { path = @ViewBag.LastPath }, new AjaxOptions { UpdateTargetId = "main_container", OnFailure = "OnError", LoadingElementId = "loading", HttpMethod = "GET" })
        </th>
        <th class="tableHederitem">
            @Ajax.ActionLink("Type", "GetAllDirectoryByType", "Directory", new { path = @ViewBag.LastPath }, new AjaxOptions { UpdateTargetId = "main_container", OnFailure = "OnError", LoadingElementId = "loading", HttpMethod = "GET" })
        </th>
        <th style="color: #337ab7">
            @Html.DisplayNameFor(model => model.LastAccessTime)
        </th>
        <th style="color: #337ab7">
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Type == "Folder")
        {
            <tr class="item folder" id="item-@item.Name">
                <td>
                    <img src="~/Content/images/folder.png" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastAccessTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteDirectory", "Directory", new { path = @ViewBag.LastPath + item.Name + "\\" }, new AjaxOptions { UpdateTargetId = "main_container", OnFailure = "OnError", LoadingElementId = "loading", HttpMethod = "GET", Confirm = "Do you really want to delete this folder?" })
                </td>
            </tr>
        }
        else
        {
            <tr class="item" id="item-@item.Name">
                <td>
                    <img src="~/Content/images/file.png" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastAccessTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteFile", "Directory", new { path = @ViewBag.LastPath + item.Name + "\\" }, new AjaxOptions { UpdateTargetId = "main_container", OnFailure = "OnError", LoadingElementId = "loading", HttpMethod = "GET", Confirm = "Do you really want to delete this file?" })
                </td>
            </tr>
        }
    }

</table>

<script src="~/Scripts/CustomScripts/AllDirectoryScripts.js"></script>
<script src="~/Scripts/CustomScripts/AjaxConfiguration.js"></script>