@using System.Security.Cryptography
@using System.Text
@model IEnumerable<FileSystemViewer.PLMVC.Models.FolderTreeViewModel>
@foreach (var item in Model)
{
    var md5 = MD5.Create();
    var hash = md5.ComputeHash(Encoding.Default.GetBytes(item.Name));
    new Guid(hash);
    item.Id = (new Guid(hash)).ToString();
    <div class="treeItem" id="treeItem-@item.Id">
        <div class="treeChanger" id="treeChanger-@item.Id"> > </div>
        <div class="folderTreeIcon">
            @if (item.Type == "Folder")
            {
                <img src="~/Content/images/folder.png" />
            }
            else
            {
                <img src="~/Content/images/file.png" />
            }
        </div>
        @Html.DisplayFor(modelItem => item.Name)
    </div>
    <div class="treeConteiner hidden" id="treeConteiner-@item.Id"></div>

    <script>
    $(document).ready(function () {
        $('#treeItem-@item.Id').dblclick(function () {
            var name = "@item.Name";
            var path = "@ViewBag.LastPath";
            var newPath = path + name + "\\";
            var url = "/Directory/GetAllDirectory/" + newPath;
            url = encodeURI(url);
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    if (result.Status == 'NotAcceptable') {
                        alert("You don't have access to the directory");
                    } else {
                        $('.item').unbind();
                        $('#main_container').html(result);
                    }
                },
                error: OnError
            });
        });

        $('#treeChanger-@item.Id').click(function () {
            var name = "@item.Name";
            if ($('#treeConteiner-@item.Id').hasClass('hidden').toString() == "false") {
                $('#treeConteiner-@item.Id').empty();
                $('#treeConteiner-@item.Id').toggleClass('hidden');
            } else {
                $('#treeConteiner-@item.Id').toggleClass('hidden');
                $('#treeConteiner-@item.Id').css('margin-left', '+15px');

                var path = "@ViewBag.LastPath";
                var newPath = path + name + "\\";
                var url = "/FolderTree/GetAllDirectory/" + newPath;
                url = encodeURI(url);
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        if (result.Status == 'NotAcceptable') {
                            alert("You don't have access to the directory");
                        } else {
                            $('#treeConteiner-@item.Id').html(result);
                        }
                    },
                    error: OnError
                });
            }
        });

    });



    function OnError(XMLHttpRequest, textStatus, errorThrown) {
        alert('Oops, something bad happened. We workikg with the problem. Try it again. Description: ' + errorThrown + '.');
    };
</script>
}
